*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: green;
}
.board{
    width: 1000px;
    height: 350px;
    margin: 100px auto 0px;
}
.card{
    height: 150px;
    width: 100px;
    outline: 1px solid white;
    border-radius: 10px;
}
.top-row{
    margin-bottom: 50px;
}
.top-row,.left,.right,.bottom-row{
    display: flex;
    justify-content: space-between;
}
.left{
    width: 250px;
}
.right{
    width: 550px;
}
.right>div{
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.club{
    background-image: url(./images/club.png);
}
.spade{
    background-image: url(./images/spade.png);
}
.heart{
    background-image: url(./images/heart.png);
}
.diamond{
    background-image: url(./images/diamond.png);
}
.deck-close{
    background-image: url('./images/card_back.png');
    background-size: 100px 150px;
}